<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @user.username %></h1>
    <% if @user.admin === true %>
      <p><em>Admin</em></p>
    <% end %>
    <hr>
    <% if @user.reviews.any? %>
      <h2>Reviews</h2><br>
      <% @user.reviews.each do |review| %>
        <div class="review">
          <h3><%= link_to review.product.name, product_path(review.product) %></h3>
          <h4>"<%= review.content %>"</h4>
          <p>
            <em><%= review.created_at.strftime("%B %d, %Y") %></em>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
