<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to PDXCHKN</h1>
    <p><em>Est. 2017</em></p><hr>
    <h4>Our mission is to bring the delicious taste of <em>Nashville Hot Chicken</em> to the Portland area.<br>
      (And eventually to the entire West Coast)</h4><br>
    <h2>We are a 100% family-owned-and-operated business.</h2><br><br>
    <h4>Please use the above menu bar to navigate our site!</h4>

  </div>
</div>
