/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$base-orange : #AA4639;

body {
 background-color: #000;
 color: #fff;
}

nav {
 padding-right: 2%;
 background-color: $base-orange !important;
 border: none !important;
 border-radius: 0px !important;
}

.nav-list li a, .navbar-brand {
 color: #fff !important;
}

.nav-list li a:hover, .navbar-brand:hover {
 color: #ddd !important;
}

.col-md-8 {
 text-align: center;
}

.review {
  border: 1px #fff solid;
  padding: 2%;
  text-align: left;
}

input, textarea {
  background-color: #ccc;
  color: #000;
}
