<h1>Full Menu</h1>

<hr>
<% if @products.any? %>
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <%= image_tag product.image.url(:medium) %>
    <% end %>
    <h4><%= link_to product.name, product_path(product) %></h4>
  <% end %>
<% else %>
  <h1>Oops! there are no products listed yet! please come back later!</h1>
<% end %>
